{% extends 'opros/base.html' %}

{% block content %}

    <div class="container">
        <form action="/results/{{ quiz_slug }}/" method="post">
            {% csrf_token %} 
            <input type="text" readonly name="user_name" class="form-control-plaintext" id="user_name" value="{{ user_name }}"><br><br>
        {% for key, value in questions.items %}
        {% comment %} {{ key }} {{ value }} {% endcomment %}
        <h3>{{ forloop.counter }}.
        {% for item in key %}
            
                 {{ item.question }}</h3> 
                    {% for item in value %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ item.question_id }}" value="{{ item.answer }}">
                        <label class="form-check-label" for="flexRadioDefault1">
                        
                            {{ item.answer }}
                        
                        </label>
                    </div>
                    {% endfor %}
                {% comment %} {% endfor %}  {% endcomment %}
               
            {% endfor %} 
        {% endfor %}<br><br><br>
        <button type="submit" class="btn btn-primary btn-block">
            Закончить
        </button>
    </form> 
    </div>

{% endblock %}
